*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.input{
    text-align: center;
    
}
input[type="text"]{
    margin-top: 20px;
    height: 50px;
    width: 600px;
    background: #e7e7e7;
    font-weight: bold;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding-left:10px ;
}
input[type="submit"]{
    margin-top: 20px;
    height: 50px;
    width: 100px;
    background: #e7e7e7;
    font-weight: bold;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: blue;
}
.display{
    margin-top: 20px;
    align-items: center;
    height: 100px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #e7e7e7;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
}
